.navbar{
  height: 120px;
  width: 100%;
  /* background-color: #ffcc00; */
  /* background-color: #66ffc2; */
  background-color: #38f805;
}
img{
  margin-left: 10px;
  height: 100px;
  width: 100px;
}
body{
  padding: 0;
  background-color: #38f805;
  margin : 0
  /* background-color: #40ff00; */

}
/* .bg-image{
  opacity: 0.2;
  height: 100%;
  width: 100%;
  position: fixed;

} */
h1{
  font-family: 'Luckiest Guy', cursive;
  margin: auto;
  font-size: 60px;
  font-weight: bolder;
  color: #ffff1a;
}
h2{
  font-family: 'Luckiest Guy', cursive;
  margin: auto;
  color: #38f805;
  text-align: center;
  padding-top: 20px;
}
h4{
  font-family: 'Luckiest Guy', cursive;
  margin: auto;
  color: #38f805;
  padding-top: 40px;
  text-align: center;
}
.contact-button{
  margin-right: 50px;
  text-decoration: none;
  font-size: 25px;
  color: #ffff1a;
  font-weight: bold;
}
.contact-button:hover {
  cursor: pointer;
  margin-right: 50px;
  text-decoration: underline;
  font-size : 25px;
  color: #ffff1a;
  font-weight: bold;
}
i{
  font-size: 50px;
}
.section1{
  margin: 35px auto 0px;
  height: 450px;
  width: 90%;
  background-color: #ffff1a;
  border-radius: 20px;
}
.about-us{
  margin-left: 38%;
  margin-top: 40px;
  text-align: center;
  border: 2px solid #38f805;
  color: #38f805;
  font-weight: bold;
  /* background-color: #38f805;  */
}
.custom-modal{
  text-align: center !important;
  background-color: #ffff1a;
}
.modal-text{
  color: #38f805;
  font-weight: bold;
  font-size: 30px;
  padding-left: 120px;
}
.footer{
  height: 200px;
  width: 90%;
  margin: 35px auto 35px;
  background-color: #38f805;
}
.footer-text{
  color: #ffff1a;
}
.social-media1{
  cursor: pointer;
  margin-top: 20px;
  margin-left: 42%;
  color: #ffff1a;
}
.social-media2{
  cursor: pointer;
  margin-top: 20px;
  padding-left: 5%;
  color: #ffff1a;
}
